body{
	background: rgb(10,10,63);
	font-family: Raleway;
	margin-bottom: 0px;
	width: 100%;
	height: 100%;

}
.header {
	margin-left: 8.1rem; 
	/*margin-right: 8.1rem; */
}
.heading {
	margin-left: 8.1em;
	/*margin-right: 6em;*/
	margin-top: -1.2em;
	background: white;
	height: auto;
	width: 81.9%
}
.heading h1{
	background: rgb(81, 184, 255);
	box-shadow: 1.5px 1.5px silver;
}
.heading h1 a{
	text-decoration: none;
	color: white;
	padding:0.4%;
} 
.heading a:hover{
	background: rgb(26, 63, 167);
}
.heading2 h3{
	color: white;
	margin-left: 8.1rem; 
	/*margin-right: 6rem; */
	font-weight: 500;
}
.maininfo{
	margin-top: -1.2em;
	margin-left: 8.1rem; 
	margin-right: 6rem;
	margin-bottom: 0px; 
	background: rgb(212, 241, 255);
	/*height: 520px;*/
}
.maininfo h1{
	padding-bottom: 1.8px
	padding-left: 15px;
	font-size:50px;
	font-family: "Playfair Display";
	font-weight: 600;
	color:rgb(26, 39, 93);
}
.maininfo_sub{
	background: white;
	padding: 0.5%;
	margin: -1.3em 1em;
	box-shadow: -1px 0 2px 3px rgba(0,0,0,0.25);
}
.maininfo_sub ul li{
  display: inline-block; 
  padding-right: 20px;
  text-transform: uppercase;
}
.maininfo_sub a:hover{
	background: rgb(26, 63, 167);
	color: white;
	text-decoration:  none; 
}
.maininfo_sub ul li:hover{
	background: rgb(26,63,167);
	color: white;
}
.maininfo_sub li img{
	margin-left: 6px;
	margin-top: 6px;
	margin-right: 2px
}

.Intro p{
	line-height: 27px;
}
.theory h2,h3{
	font-family: "Playfair Display";
	font-weight: 500;
	text-decoration: underline;
}
.theory p{
	line-height: 27px;
}
.hideonscreen {
	display: none;
}
.message{
	color:#8B008B;
	margin-left: 10em;
}
.message em{
	color:#FF69B4;
	margin-left: 10em;

}
h2{
	font-family: "Playfair Display";
	font-weight: 500;
}
.makebuttons_eng{
	margin-left: 5%;
}
.makebuttons_eng button{
	padding: auto;
	margin: 1.8em;
}
.makebuttons_hin{
	margin-left: 5%;
}
.makebuttons_hin button{
	padding: auto;
	margin: 1em;
}
.printwords{
display: inline;
color: #A52A2A;
font-size: 36px;

}
.experiment .reform,.check_sen{
	display: none;
	margin: 0 auto;
}
.get_correct{
	display: none;
	margin: 0 auto;
}

